<mat-stepper orientation="vertical">
  <form [formGroup]="viewScheduleForm">
    <mat-step>
      <ng-template matStepLabel>Escolha um museu</ng-template>
      <ng-template matStepContent>
        <p>
          <mat-form-field>
            <mat-label>Museu</mat-label>
            <mat-select formControlName="museum">
              <mat-option *ngFor="let museum of museums$ | async" [value]="museum._id">
                {{museum.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </p>
        <button mat-button matStepperNext (click)="chooseMuseum()">Próximo</button>
      </ng-template>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Escolha uma programação</ng-template>
      <ng-template matStepContent>
        <p>
          <mat-form-field>
            <mat-label>Programação</mat-label>
            <mat-select formControlName="schedule">
              <mat-option *ngFor="let schedule of schedules$ | async" [value]="schedule">
                {{schedule.title}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </p>
        <button mat-button matStepperPrevious>Voltar</button>
        <button mat-button matStepperNext (click)="showSchedule()">Próximo</button>
      </ng-template>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Conferir</ng-template>
      <div class="card-schedule" *ngIf="canLoad; else loader">
        <h1>{{viewSchedule.title}}</h1>
        <p>
          <span>{{startDate}} -- {{endDate}}</span>
        </p>
        <p>
          <img class="view-image" [src]="viewSchedule.image" alt="Imagem representativa da programação">
        </p>
        <p>
          {{viewSchedule.description}}
        </p>
      </div>
      <button mat-button matStepperPrevious>Voltar</button>
    </mat-step>
  </form>
</mat-stepper>

<ng-template #loader>
  <mat-progress-bar mode="buffer"></mat-progress-bar>
</ng-template>
