<div class="wrapper" *ngIf="canLoad;else loader">
  <h1>Portal do Usuário</h1>
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar>
        <mat-icon>tour</mat-icon>
      </div>
      <mat-card-title>VISITAÇÃO</mat-card-title>
    </mat-card-header>
    <mat-divider inset></mat-divider>
    <mat-card-actions align="end">
      <button mat-button [routerLink]="['choose-museum']">COMEÇAR</button>
    </mat-card-actions>
  </mat-card>
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar>
        <mat-icon>view_agenda</mat-icon>
      </div>
      <mat-card-title>PROGRAMAÇÃO</mat-card-title>
    </mat-card-header>
    <mat-divider inset></mat-divider>
    <mat-card-actions align="end">
      <button mat-button>CONFERIR</button>
    </mat-card-actions>
  </mat-card>
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar>
        <mat-icon>description</mat-icon>
      </div>
      <mat-card-title>COMENTÁRIOS</mat-card-title>
    </mat-card-header>
    <mat-divider inset></mat-divider>
    <mat-card-actions align="end">
      <button mat-button [routerLink]="['view-comments']">CONFERIR</button>
    </mat-card-actions>
  </mat-card>
  <mat-card class="example-card" *ngIf="museumName">
    <mat-card-header>
      <div mat-card-avatar>
        <mat-icon>app_registration</mat-icon>
      </div>
      <mat-card-title>Backoffice</mat-card-title>
    </mat-card-header>
    <mat-divider inset></mat-divider>
    <mat-card-actions align="end">
      <button mat-button [routerLink]="['backoffice']">IR</button>
    </mat-card-actions>
  </mat-card>
</div>

<ng-template #loader>
  <mat-spinner></mat-spinner>
</ng-template>
