.wrapper {
  margin-left: 20px;
  margin-right: 20px;
}

mat-card {
  margin-bottom: 20px;
}

.mat-spinner-div {
  padding-top: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
