<h1 mat-dialog-title>Recuperação de Senha</h1>
<mat-dialog-content>
  <h3>Para continuar digite seu e-mail</h3>

  <form [formGroup]="forgotPwdForm">
    <p>
      <mat-form-field>
        <mat-label>E-mail</mat-label>
        <input matInput formControlName="email">
      </mat-form-field>
    </p>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancelar</button>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial [disabled]="errorEmail" (click)="sendEmail()">Enviar</button>
</mat-dialog-actions>
