<h2 mat-dialog-title>Escaneie o QR-CODE!</h2>
<mat-dialog-content>
  <zxing-scanner (scanSuccess)="onCodeResult($event)" ></zxing-scanner>
  <ng-container *ngIf="qrResult">
    QR-Code escaneado!
    {{qrResult}}
  </ng-container>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button [routerLink]="['menu/choose-museum']" mat-button mat-dialog-close>Cancelar</button>
  <button *ngIf="qrResult" mat-button [mat-dialog-close]="qrResult" cdkFocusInitial>Alguma coisa</button>
</mat-dialog-actions>
