<div class="content-wrapper">
  <form [formGroup]="newUserForm" (submit)="signUp()">


    <div class="register-div">
        <mat-label class="title-label">Registre-se!</mat-label>
        <mat-form-field appearance="outline">
          <mat-label>Nome</mat-label>
          <input class="input-name" matInput formControlName="name">
          <mat-error *ngIf="newUserForm.get('name')?.errors?.['required']">Campo obrigatório</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Data de nascimento</mat-label>
          <input matInput formControlName="birthDate">
        </mat-form-field>

        <mat-form-field appearance="outline" >
          <mat-label>Telefone</mat-label>
          <input matInput formControlName="phone">
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>E-mail</mat-label>
          <input matInput formControlName="email">
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Senha</mat-label>
          <input matInput formControlName="password">
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Confirmar senha</mat-label>
          <input matInput formControlName="confirmPassword">
        </mat-form-field>

        <button mat-raised-button class="register-button" color="primary">Cadastrar</button>

        <br>
        <a [routerLink]="['']">Já se cadastrou? Clique aqui!</a>
      </div>
    </form>
</div>
