<mat-vertical-stepper [linear]="false" #stepper>
  <mat-step [stepControl]="museumForm" errorMessage="Campo obrigatório!">
    <form [formGroup]="museumForm">
      <ng-template matStepLabel>Escolha um Museu</ng-template>
      <mat-form-field appearance="outline">
        <mat-label>Lista de Museus</mat-label>
        <mat-select [(value)]="initialMuseum" formControlName="museum" name="museum">
          <mat-option *ngFor="let museum of museums$ | async" [value]="museum">
            {{museum.name}}
          </mat-option>
        </mat-select>
        <mat-error>Campo obrigatório!</mat-error>
      </mat-form-field>
      <div>
        <button mat-button matStepperNext type="submit" [disabled]="errorsMuseumForms">Próximo</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="routesForm" errorMessage="Campo obrigatório!">
    <form [formGroup]="routesForm">
      <ng-template matStepLabel>Escolha um tipo de percurso</ng-template>
      <mat-form-field appearance="outline">
        <!-- <input matInput placeholder="Address" formControlName="secondCtrl" required> -->
        <mat-label>Rotas</mat-label>
        <mat-select [(value)]="initialRoute" formControlName="route" name="route">
          <mat-option *ngFor="let route of routes" [value]="route.name">
            {{route.name}}
          </mat-option>
        </mat-select>
        <mat-error>Campo obrigatório!</mat-error>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Voltar</button>
        <button mat-button matStepperNext (click)="routeForms" [disabled]="errorsRouteForms">Próximo</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    <p>
      Você selecionou o museu <strong>{{museumForm.get('museum')?.value.name}}</strong>, e o tipo de visitação
      <strong>{{routesForm.get('route')?.getRawValue()}}</strong>.
    </p>
    <div>
      <button mat-button matStepperPrevious>Voltar</button>
      <button mat-button (click)="doneMuseumRoute()">
        <span *ngIf="!loadButton; else loader">
          Começar
        </span>
      </button>
    </div>
  </mat-step>
</mat-vertical-stepper>

<ng-template #loader>
  <mat-spinner diameter="20"></mat-spinner>
</ng-template>
