<p>
  <mat-toolbar color="primary">
    <button mat-icon-button [matMenuTriggerFor]="menuMuseus" class="example-icon">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menuMuseus="matMenu" class="btn-group">
      <button mat-menu-item (click)="chooseMuseum()">
        <span>
          Iniciar visitação
        </span>
      </button>
      <button mat-menu-item color="link">
        <span>
          Meu perfil
        </span>
      </button>
      <button mat-menu-item color="accent">
        <span>
          Mais informações
        </span>
      </button>
      <button mat-menu-item (click)="addComments()">
        <span>
          Registrar experiência
        </span>
      </button>
    </mat-menu>
    <span>Minha Visita</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon" (click)="logout()">
      <mat-icon>logout</mat-icon>
    </button>
  </mat-toolbar>
</p>


<!-- (click)="openDialog('Visita Completa', 'A visita longa te dá a experiência completa da visitação!', 'close')"
(click)="openDialog('Visita Rápida', 'A visita rápida passa pelos principais atrativos!', 'close')"
(click)="openDialog('Visita Livre', 'Se você não gosta de um roteiro, essa opção é pra você!', 'close')" -->
