<div class="content-wrapper">

  <div class="div-img">
    <img class="img-login"
      src="https://media.discordapp.net/attachments/944008601163431986/1042960285914382397/visita_guiada_ver.1.png"
      alt="logo do museu do Ipiranga">
  </div>

  <form class="form-login" [formGroup]="signinForm">
    <mat-form-field class="form-field-email" appearance="outline">
      <mat-label>
        E-mail
      </mat-label>
      <input class="input-email" matInput formControlName="email">
      <mat-error *ngIf="signinForm.get('email')?.errors?.['required']">Campo obrigatório</mat-error>
      <mat-error *ngIf="signinForm.get('email')?.errors?.['email']">e-mail inválido</mat-error>
    </mat-form-field>

    <mat-form-field class="form-field-pwd" appearance="outline">
      <mat-label>
        Senha
      </mat-label>
      <input class="input-pwd" matInput formControlName="password" [type]="hidePwd ? 'password' : 'text'">
      <mat-error *ngIf="signinForm.get('password')?.errors?.['required']">Campo obrigatório</mat-error>
      <button mat-icon-button matSuffix (click)="hidePwd = !hidePwd" [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hidePwd">
        <mat-icon>{{hidePwd ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>

    </mat-form-field>

    <div class="form-button">
      <button class="button-login" (click)="login()" mat-raised-button color="primary" [disabled]="isLoading">
        <span *ngIf="!isLoading;else loader">Login</span>
      </button>
    </div>

    <button type="button" class="button-pwd" mat-flat-button (click)="openForgotPasswordDialog()">Esqueceu a senha?</button>

    <mat-divider></mat-divider>

    <button type="button" class="button-register" mat-raised-button [routerLink]="['signup']">Criar nova conta</button>
  </form>

  <div class="div-button">
  </div>

</div>

<ng-template #loader>
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</ng-template>
