.content-wrapper {
  position: relative;
  width: 100%;
  height: 100vw;
}

.div-img {
  position: absolute;
  margin-top: 30%;
  left: 42%;

  @media(max-width: 767px) {
    margin-top: 15%;
    left: 30%;
    top: 0;
  }
  }

.form-login {
  position: absolute;
  top: 50%;
  left: 50%;
  bottom: 50%;
  transform: translate(-50%, -50%);
}

.form-field-email, .button-login, .form-field-pwd {
  width: 100%;
}

.div-button {
  position: absolute;
  width: 100%;
  bottom: 8vw;



  @media(max-width: 767px) {
    bottom: -30vw;
  }
}

mat-divider {
  margin-bottom: 24px;
}

.button-pwd {
  margin-top: 18px;
  width: 100%;
}

.button-register {
  width: 100%;
  background-color: rgb(60,179,113)
}


