.content-wrapper {
  margin: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.div-img {
  display: flex;
  flex-direction: column;
  align-items: center;

  .img-login {
    margin-top: 10px;
    margin-bottom: 30px;
    width: 180px;
  }
}

.form-login {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  width: 195px;
}

.button-register {
  background-color: rgb(60, 179, 113);
}

mat-form-field {
  width: 195px;
  -ms-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-box-sizing: content-box;
}
