<script
      src="url_maps"
      defer
    ></script>
<div class="all-content">
  <mat-card class="example-card" *ngIf="!canLoad;else loader">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{artifactModel[this.index].title}}</mat-card-title>
      <mat-card-subtitle>{{ artistName }}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image [src]="imageTest">
    <mat-card-content>
      <p>
        {{artifactModel[this.index].informationAbout}}
      </p>
      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>Mapa</mat-panel-title>
        </mat-expansion-panel-header>
        <div>
          <google-map height="400px" width="750px"></google-map>
        </div>
      </mat-expansion-panel>
    </mat-card-content>
    <mat-divider></mat-divider>
    <mat-card-actions>
      <button mat-icon-button (click)="previousOnTheList()">
        <mat-icon>arrow_back_ios</mat-icon>
      </button>
      <button mat-icon-button (click)="nextOnTheList()">
        <mat-icon>
          arrow_forward_ios
        </mat-icon>
      </button>
      <button mat-icon-button>
        <mat-icon>
          qr_code_scanner
        </mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
</div>


<ng-template #loader>
  <div class="div-loader">
    <mat-spinner></mat-spinner>
  </div>
</ng-template>
