/* img {
  margin: 2%;
  max-width: 375px;
  max-height: 240px;
}

.div-loader {
  margin: 0 auto;
}

::ng-deep mat-card {
  margin: 7%;
 max-width: 100%;
  height: 100%;
}


.wrapper {
  margin: 0 auto;
}
 */
p {
  text-align: justify;
  text-justify: inter-word;
  padding-right: 0px;
}

.example-header-image {
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/f/f6/Tarsila_do_Amaral%2C_ca._1925.jpg');
  background-size: cover;
}

.all-content {
  background-color: #D3D3D3;
}
