p {
  text-align: justify;
  text-justify: inter-word;
  padding-right: 0px;
}

.sticky-bottom {
  position: sticky;
  bottom: 0;
  z-index: 1;
}

mat-card {
  height: 100%;
}

::ng-deep .mat-card-image {
  height: 300px;
}

mat-card-content {
  overflow: scroll;
}

.card-content-text {
  height: 200px;
  overflow: scroll;
}

mat-card-actions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-end;
}

.position-bottom {
  position: fixed;
  bottom: 0;
}

.position-next {
  color: #5fc594;
  position: relative;
  left: 150px;
  bottom: 10px;
}

.position-qr {
  position: relative;
  left: 85px;
  bottom: 10px;
}

.position-back {
  color: #F44336;
  position: relative;
  bottom: 10px;
}
