.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.div-img {
  display: flex;
  flex-direction: column;
  align-items: center;

  .img-login {
    margin-top: 50px;
    margin-bottom: 30px;
    width: 180px
  }
}

button {
  width: 100%;
}
