<form [formGroup]="recoverPwdForm" (ngSubmit)="handleRecoverPassword()" class="wrapper">
  <div class="div-img">
    <img class="img-login" src="https://media.discordapp.net/attachments/944008601163431986/1042960285914382397/visita_guiada_ver.1.png" alt="logo do aplicativo">
  </div>
  <p>
    <mat-form-field>
      <mat-label>Digite sua nova senha</mat-label>
      <input matInput formControlName="password">
    </mat-form-field>
  </p>
  <p>
    <mat-form-field>
      <mat-label>Confirme a senha</mat-label>
      <input matInput formControlName="confirmPassword">
    </mat-form-field>
  </p>
  <p>
    <button mat-flat-button color="primary" [disabled]="!differentPwd && !errorPwd">Alterar Senha</button>
  </p>
</form>
